//@import url('src/font/FeatureMono-Light.ttf')

$typography-font-family : Better VCR, sans-serif !default
$primary   : rgba(255, 59, 48, 1)
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037